@model WorkFlow.Models.DataBaseModels.DBContext

@{
    ViewBag.Title = "_VacanciesListPartial";
}


<style type="text/css">
    changeCursor:hover {
        cursor: pointer;
    }
</style>

<table class="table table-hover">
    <thead>
        <tr>
            @{
                for (int i = 2; i < Model.DBDataTable.Columns.Count; i++)
                {
                    <th>@Model.DBDataTable.Columns[i].Caption </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            foreach (System.Data.DataRow row in Model.DBDataTable.Rows)
            {
                <tr onclick="location.href = '@(Url.Action("VacancyInfo", "CompanyInfo", new { id = Convert.ToInt32(row.ItemArray[0]) }))'" style="cursor: pointer">
                    @{
                for (int i = 2; i < row.ItemArray.Count(); i++)
                {
                    <td>

                        @{if (row.ItemArray[i].ToString() != "0")
                        { @row.ItemArray[i].ToString()}
                        }
                    </td>
                }
                    }
                </tr>
            }
        }
    </tbody>
</table>

