@model WorkFlow.Models.SkillsStatistics

<div class=" col-md-12">
    <div class=" col-md-12">
        <div class=" col-md-3">
            @Model.Columns[1]
        </div>
        <div class=" col-md-3">
            @Model.Columns[2]
        </div>
        <div class=" col-md-3">
            @Model.Columns[4]
        </div>
    </div>
    <div class=" col-md-12">
    </div>
</div>


