@model WorkFlow.Models.DataBaseModels.DBContext

<ul class="nav nav-tabs">
    <li> @Ajax.ActionLink("Company In Cities", "Statistics", "Companies", new { statistic = WorkFlow.Controllers.Statistics.CompanyInCities }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divResponse", InsertionMode = InsertionMode.Replace })</li>
    <li> @Ajax.ActionLink("Company In Cities", "Statistics", "Companies", new { statistic = WorkFlow.Controllers.Statistics.SkillSForVacancy }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divResponse", InsertionMode = InsertionMode.Replace })</li>
    <li> @Ajax.ActionLink("Company In Cities", "Statistics", "Companies", new { statistic = WorkFlow.Controllers.Statistics.VacanciesInRegion }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divResponse", InsertionMode = InsertionMode.Replace })</li>
</ul>

<br />
<div id="divResponse">
    @Html.Partial("~/Views/Companies/_CompanyStatisticResultPartial.cshtml", Model)
</div>

