@model WorkFlow.Models.DataBaseModels.Vacancies

@{
    ViewBag.Title = "Главная";
}

<div>
    <div class="pictureborder-home effect7">
        <a href='@Url.Action("Index", "Companies")'>
            <img src='@Url.Content("~/Content/images/companyHome.jpg")' style="width:100%" />
        </a>
    </div>
    @*<div class="pictureborder-home effect7">
        <a href='@Url.Action("Index", "Companies")'>
            <img src='@Url.Content("~/Content/images/workersHome.jpg")' style="width:100%" />
        </a>
    </div>*@
</div>


