@model WorkFlow.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Повторите ввод логина и пароля:</h2>


<form method="post" action="@Url.Action("Login", "Account")" accept-charset="UTF-8" style="margin-bottom:5px">
    @Html.AntiForgeryToken()
    <div style="margin-bottom: 15px; border-color: #345054; border-width:thin">
        @Html.EditorFor(m => m.Email, "Название компании")
        @Html.EditorFor(m => m.Password, "Пароль")
    </div>
    @*<input  type="text" placeholder=" E-mail" id="email" name="email">
        <input style="margin-bottom: 15px; border-color: #345054; border-width:thin" type="password" placeholder=" Пароль" id="password" name="password">*@
    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value=" Войти">

</form>

