@model WorkFlow.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Редактирование информации о себе</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Изменить пароль", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <h4 style="margin-left: 10%">@Html.ActionLink("See/Edit information about company", "EditInformationAbout")</h4>
    </dl>
</div>
